
# Зависимости
node_modules/
Dockerfile


# Артефакты Playwright
playwright-report/
test-results/
.playwright-browsers/

# Окружение и секреты
.env
.env.local
.env.*.local

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
.vs/

